name: extract_infos_from_utility_invoice
description: A Flutter app to extract information from utility invoices
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  file_picker: ^6.1.1
  image_picker: ^1.0.7
  cupertino_icons: ^1.0.6
  http: ^1.2.1
  js: ^0.7.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

